<div id="index-banner" class="parallax-container">
  <nav role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Movadee</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Resume</a></li>
        <li><a href="#">Contact Me</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Resume</a></li>
        <li><a href="#">Contact Me</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Parallax Template</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="../assets/images/background.svg" alt="Unsplashed background img 1"></div>
</div>