@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');


* {
    font-family: 'Comfortaa', sans-serif;
}

nav ul li a {
    color: #92989b;
    font-weight: bold;
}

nav ul a:hover {
    background-color: transparent;
}

nav {
  -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
    :hover {
        color: #6ab344;
    }
}

nav .brand-logo {
    color: #6ab344 !important;
    font-weight: bold;
}

.page-footer {
    padding: 0;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  color: #6ab344;
}

.padding-between-sections {
  padding: 30px 0;
}

.padding-inside-lockquote {
  padding-right: 50px !important;
}

.bold {
  font-weight: 700 !important;
}