<!-- About Section -->
<div class="section no-pad-bot">
  <div class="container">
    <br><br>
    <div class="row center">
      <h1 class="header">I design & build software</h1>
      <h5 class="header col s12 light">I also love to foster kittens, skydive and cheesecakes</h5>
    </div>
    <div class="row center">      
      <a href="https://github.com/movadee" target="_blank" id="github-button" class="btn-large blue-grey">
        <i class="material-icons right white-text">launch</i>My GitHub
      </a>
    </div>
    <br><br>
  </div>
</div>