<!-- About Section -->
<div class="container padding-between-sections">
  <div class="row center">
    <h1 class="header">I design & build software</h1>
    <h5 class="header col s12 light">I also love to foster kittens, skydive and cheesecakes</h5>
  </div>
  <div class="row center">      
    <a href="https://github.com/movadee" target="_blank" id="github-button" class="btn-large blue-grey">
      <i class="material-icons right white-text">launch</i>My GitHub
    </a>
  </div>
</div>

<!-- Projects Section -->
<div class="grey lighten-5 padding-between-sections">
  <div class="container">
    <h2 class="header center">Projects</h2>

    <!-- project cards -->
    <div class="row">
      <div *ngFor="let project of projects" class="col s12 m6">
        <div class="card small hoverable">
          <div class="card-content">
            <span class="card-title"><a target="_blank" [href]="project.url">{{project.name}} <i class="material-icons">launch</i></a></span>
            <blockquote>
              <div class="row">
                <div class="col s6 bold">Framework</div><div class="col s6">{{project.framework}}</div>
                <div class="col s6 bold">Styling Library</div><div class="col s6">{{project.styling_library}}</div>
                <div class="col s6 bold">Hosting</div><div class="col s6">{{project.hosting}}</div>
                <div class="col s6 bold">Backend</div><div class="col s6">{{project.backend}}</div>
              </div>
            </blockquote>
            <p>{{project.summary}}</p>
          </div>
          <div class="card-action">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>

  </div>  
</div>